/* eb-garamond-regular - latin */
@font-face {
  font-family: 'CastoroTitling-Regular';
  src: url('/assets/fonts/CastoroTitling-Regular.ttf') format('truetype') !important;
  font-weight: normal;
  font-style: normal;
}
